root = true

[*]
charset = utf-8             # UTF-8 karakter seti (genel uyumluluk için ideal)
indent_style = space         # Sekme yerine boşluk kullanılacak
indent_size = 2              # 2 boşluk (projeye göre 4 olabilir)
end_of_line = lf             # Satır sonu Unix stili
insert_final_newline = true  # Her dosyanın sonunda yeni bir satır bırak
trim_trailing_whitespace = true # Satır sonlarındaki gereksiz boşlukları kaldır

[*.bat]
end_of_line = crlf           # Windows Batch dosyaları için CRLF gereklidir

[*.ps1]
end_of_line = crlf           # PowerShell dosyaları için CRLF gereklidir